</div></div>



<!-- footer ----------------------------------->

<div class="footer">
<div class="foot">

<div class="foot_left">
<div class="f_l_c">
<!-- <a href="/partners" class="foot_link">Партнёры</a>
<a href="/marketing" class="foot_link">Реклама на сайте</a> -->
<a href="/news" class="foot_link">Новости</a>
<a href="/video" class="foot_link">Видео</a>
<a href="/articles" class="foot_link">Статьи</a>
<a href="/about" class="foot_link">Контакты</a>
</div>
<p class="copy">© 2013–2017 MMABoxing.ru. Все права защищены. Использование материалов без согласия категорически запрещено. При любом использовании материалов другими ресурсами, прямаяиндексируемая ссылка на MMABoxing.ru обязательна.</p>
<p class="copy">Нашли опечатку? Выделите фрагмент текста и нажмите Ctrl+Enter</p>
</div>


<div class="foot_right">

<div class="sub">Узнавайте первыми о новостях в мире спорта!  <br />  Подпишитесь на наши аккуанты в социальных сетях.</div>
<div id="subscribe-container">
    <!--  <input type="text" value="" placeholder="Ваш e-mail" onfocus="placeholder='';" onblur="placeholder='Ваш e-mail';" class="sub_inp" id="subscribe_email">
    <input type="submit" value="Подписаться" class="sub_sub" id="subscribe_submit">
    <div class="clr"></div> -->
</div>
<div id="subscribe-thanx-container" style="display: none;">
    <p style="color: #FFF;">Ваша подписка активирована. Спасибо!</p>
</div>

<div class="soc"><!-- Мы в соцсетях: --> 
<a href="https://vk.com/mmaboxing_mma" target="_blank"><img src="/images/vk.png" hspace="10"></a>
<a href="https://www.facebook.com/mmaboxingru2016/" target="_blank"><img src="/images/icon.png" hspace="10"></a>
<a href="https://www.instagram.com/mmaboxingofficial/" target="_blank"><img src="/images/insta.png" hspace="10"></a>
<a href="https://www.youtube.com/user/mmaboxingtv" target="_blank"><img src="/images/yuo.png" hspace="10"></a>
<a href="https://twitter.com/MMA_Boxing_ru" target="_blank"><img src="/images/tw.png" hspace="10"></a>
</div>

</div>
<div class="clr"></div>
</div>
</div>



        <div id="toolTipLayer" style="position:absolute; z-index:15001; display:none"></div>



</body>
</html>