<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<head>
	<meta charset="UTF-8">
    <meta name='yandex-verification' content='6c6fb61a723ccbcc' />
	<title><?= ($nc_core->page->get_title() ? $nc_core->page->get_title().(strstr($_SERVER['REQUEST_URI'],'.html') ? ' - '.$current_sub['moreTitle'] : NULL) : $current_sub['Subdivision_Name'].(strstr($_SERVER['REQUEST_URI'],'.html') ? ' - '.$current_sub['moreTitle'] : NULL)) ?></title>
    <?=( ($nc_core->page->get_keywords()) ? "<meta name='keywords' content='".$nc_core->page->get_keywords()."' />" : "" ) ?>
    <?=( ($nc_core->page->get_description()) ? "<meta name='description' content='".$nc_core->page->get_description()."' />" : "" ) ?>
    
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/flexslider.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/js/fancybox/jquery.fancybox-1.3.1.css">
    <link rel="stylesheet" type="text/css" href="/js/scrollpane/css/jquery.jscrollpane.css"/>
    <link rel="stylesheet" type="text/css" href="/js/scrollpane/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/netcat/require/lib/mistakes/mistakes.css"/>
    
	<!--[if lt IE 9]>
        <script>
            var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time,main").split(',');
            for (var i = 0; i < e.length; i++) {
                document.createElement(e[i]);
            }
        </script>
	<![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
	<script src="/js/jquery.arcticmodal.js"></script>
	<script src="/js/jquery.flexslider-min.js"></script>
	<script src="/js/actions.js"></script>
    <script src="/js/addition.js"></script>
    <script src="http://mmaboxing.ru/player/uppod.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://mmaboxing.ru/player/st/video234-109.js"></script>
    <script type="text/javascript" src="/js/calendar.js"></script>
    <script type="text/javascript" src="/js/tooltip.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="/js/scrollpane/js/jquery.easing.compatibility.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.1.js"></script>
    <script type="text/javascript" src="/js/fancy.js"></script>
    <script type="text/javascript" src="/js/scrollpane/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/scrollpane/js/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="/netcat/require/lib/mistakes/mistakes.js"></script>
    
    
    
    <script type="text/javascript">
        $(document).ready(function()
        {
            initToolTips();
            genCalenTable('calendar_out',{ on: new Date, from: new Date('2013',6,18)});
            $(window).scroll(function(){
                if ($(this).scrollTop() > 84) {
                    $('.menu_count').hide();
                    $('.menu_count_fixed').show();
                } else if ($(this).scrollTop() < 84) {
                    $('.menu_count').show();
                    $('.menu_count_fixed').hide();
                }
            });
            
            $('#ca-container').contentcarousel();
            $('#ca-container-mbl').contentcarousel();
         });
 </script>
 

</head>
<!-- // HEAD -->

<body>

<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->

<!-- BEGIN ADVERTSERVE CODE
<script type="text/javascript">
if (!document.cookie || document.cookie.indexOf('AVPDCAP=') == -1) {
  document.write('<scr'+'ipt src="http://adbetnet.advertserve.com/servlet/view/dynamic/javascript/zone?zid=271&pid=88&resolution='+screen.width+'x'+screen.height+'&random='+Math.floor(89999999*Math.random()+10000000)+'&millis='+new Date().getTime()+'&referrer='+encodeURIComponent((window!=top&&window.location.ancestorOrigins)?window.location.ancestorOrigins[window.location.ancestorOrigins.length-1]:document.location)+'" type="text/javascript"></scr'+'ipt>');
}
</script>
END ADVERTSERVE CODE -->

<!-- start fb script -->
<!-- end fb script -->

<!-- Ссылка для фона -->

<header class="header">
    <div class="head">
        <div class="logo"><a href="/"><img src="/images/logo.png"></a></div>
        <div class="logo_slog">Всё о боксе, MMA  и кикбоксинге.<br>Новости, видео, статьи, обзоры</div>

        <div class="user"><a class="auth_user" href="/auth"><img src="/images/user.png" class="user_icon"></a></div>
        <div class="search" id="search_turn"><a href="javascript:void(0);"><img src="/images/search.png" class="serche_icon"></a></div>
        <div class="search_expand" id="search_expand" style="display: none">
            <form action="/news/" method="get">
                <div>
                    <input name="search" value="" type="text" class="s_text">
                    <input class="search_button" type="submit" title="Найти" value="Найти">
                    <span class="search_close"><a href="javascript:void(0);" rel="nofollow"><img src="/images/close.png" id="imgsrcliclose" title="Закрыть" alt="Закрыть"></a></span>
                </div>
            </form>
        </div>
        <div class="send_article"><a class="send_material" href="/send"><img src="/images/mail.png" class="send_icon">Прислать материал</a></div>
        
        <div class="clr"></div>
    </div>
    
    <div class="menu_count">
        <div class="menu_c">
            <ul class="menu">
                <li><a href="/news">Новости</a></li>
                <li><a href="/video">видео</a></li>
                <li><a href="/articles">Статьи</a></li>
                <li><a href="">События</a></li>
                <li><a href="">Рейтинги</a></li>
                <li><a href="">Блоги</a></li>
                <li><a href="">MB Production</a></li>
                <li><a href="">mad bear live</a></li>
                <li><a href="">Ставки</a></li>
            </ul>
            <div class="clr"></div>
        </div>
    </div>
    
    <div class="menu_count_fixed" style="display: none;">
        <div class="menu_c_fixed">
            <ul class="menu_fixed">
                <li><a href="/"><img src="/images/logo-small.png"></a></li>
                <li id="menu_fixed" style="display: none;">
                    <form action="/news/" method="get">
                        <div>
                            <input name="search" value="" type="text" class="s_text_fixed">
                            <input class="search_button" type="submit" title="Найти" value="Найти">
                            <span class="search_close_fixed"><a href="javascript:void(0);" rel="nofollow"><img src="/images/close.png" id="imgsrcliclose" title="Закрыть" alt="Закрыть"></a></span>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="menu_2_fixed" id="menu_2_fixed">
                <li><a href="/news">Новости</a></li>
                <li><a href="/video">видео</a></li>
                <li><a href="articles">Статьи</a></li>
                <li><a href="">События</a></li>
                <li><a href="">Рейтинги</a></li>
                <li><a href="">Блоги</a></li>
                <li><a href="">MB Production</a></li>
                <li><a href="">Ставки</a></li>
            </ul>
            <ul class="menu_3_fixed" id="menu_3_fixed">
                <li><a href="javascript:void(0);" id="search_turn_fixed"><img src="/images/search.png" class="serche_icon"></a></li>
            </ul>
            
            <div class="clr"></div>
        </div>
    </div>
    
</header>
<div class="wrapper">
    <!--<div class="bckClickerleft" onClick="window.open('https://www.instagram.com/mmaboxingofficial/') "></div>-->
    <!--<div class="bckClickerright" onClick="window.open('https://vk.com/mmaboxing_mma') "></div>-->
<!-- Ссылка для фона -->
  
<!-- HEADER -->


<!-- <div class="pre-head">
    <?= s_list_class(30,44,"?&position=1") ?>
</div> -->


<div class="post-head-bnr">
<?= s_list_class(30,44,"?&position=2") ?>
</div>
<!-- // HEADER -->