<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional\">
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=<?=$nc_core->NC_CHARSET?>' />
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />
    <title>Прислать материал</title>
    <link rel="stylesheet" href="/css/popups.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script src="/js/responsive.js"></script>
    <script src="/js/actions.js"></script>
</head>
<body>
<script type='text/javascript'>
    $(function() {
        if (document.getElementById('fb-account')) {
            window.fbAsyncInit = function() {
                FB.init({ appId: '<?= $nc_auth_fb->get_app_id() ?>',
                    status: true, 
                    cookie: true,
                    xfbml: true,
                    oauth: true
                });
                function updateButton(response) {
                    var button = document.getElementById('fb-account');
                    if (response.authResponse) {
                        button.innerHTML = "выход";
                        button.onclick = function() {
                            FB.logout(function(response) {
                            });
                        };
                    } else {
                        button.onclick = function() {
                            FB.login(function(response) {
                                if (response.authResponse) {
                                    location.href = '<?= $nc_core->SUB_FOLDER.$nc_core->HTTP_ROOT_PATH."modules/auth/?nc_fb=1&token=" ?>'+response.authResponse.accessToken+'&REQUESTED_FROM=<?= htmlspecialchars($REQUEST_URI, ENT_QUOTES) ?>';
                                } else {
                                    
                                }
                            }, {scope:'email'});      
                        }
                    }
                }
                FB.getLoginStatus(updateButton);
                FB.Event.subscribe('auth.statusChange', updateButton);    
            };    
            (function() {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol 
                + '//connect.facebook.net/ru_RU/all.js';
                document.getElementById('fb-root').appendChild(e);
            }());
        }
    });
</script>
<script src='http://vk.com/js/api/openapi.js' type='text/javascript'></script>
<script type='text/javascript'>
    function nc_vk_login ( is_member ) {
        var is_mem = is_member || 0;
        if ( !is_mem ) VK.Auth.login( nc_vk_login );
        else
            location.href='<?= $nc_core->SUB_FOLDER.$nc_core->HTTP_ROOT_PATH; ?>modules/auth/?nc_vk=1&REQUESTED_FROM=<?= htmlspecialchars($REQUEST_URI,ENT_QUOTES ); ?>';
    }
    VK.init({ apiId: <?= $nc_auth_vk->get_app_id(); ?> });
</script>

<header class="header" style="display:none;">
    <div class="head">
        <div class="logo"><a href="/"><img src="/images/logo.png"></a></div>
        <div class="logo_slog">Всё о боксе, MMA  и кикбоксинге.<br>Новости, видео, статьи, обзоры</div>

        <div class="user"><a class="auth_user" href="/auth"><img src="/images/user_light.png" class="user_icon_light"></a></div>
        <div class="search" id="search_turn"><a href="javascript:void(0);"><img src="/images/search_light.png" class="serche_icon_light"></a></div>
        <div class="search_expand" id="search_expand" style="display: none">
            <form action="/news/" method="get">
                <div class="search_container">
                    <input name="search" value="" type="text" class="s_text">
                    <input class="search_button" type="submit" title="Найти" value="Найти">
                </div>
                <div class="search_close close_icon_light">
                    <a href="javascript:void(0);" rel="nofollow">
                        <img src="/images/close_light.png" id="imgsrcliclose" title="Закрыть" alt="Закрыть" style="width: 10px; height: 10px;">
                    </a>
                </div>
            </form>
        </div>
        <div class="send_article"><a class="send_material" href="/send"><img src="/images/mail.png" class="send_icon"><img src="/images/mail_light.png" class="send_icon_light">Прислать материал</a></div>
        
        <div class="clr"></div>
    </div>
    
    <div class="menu_count">
        <div class="menu_c">
            <ul class="menu">
                <li><a href="/news">Новости</a></li>
                <li><a href="/video">видео</a></li>
                <li><a href="/articles">Статьи</a></li>
                <li><a href="/fight-calendar">События</a></li>
                <li><a href="/ratings">Рейтинги</a></li>
                <li><a href="/blogs">Блоги</a></li>
                <li><a href="/mad-bear-live">Mad Bear live</a></li>
                <li><a href="/mb-production">MB Production</a></li>
                <!-- <li><a href="">Ставки</a></li> -->
            </ul>
            <div class="clr"></div>
        </div>
    </div>
</header>
<?php $email_tpl = mysql_fetch_assoc(mysql_query("SELECT * FROM Message2047 WHERE Message_ID = 2")); ?>
<form method="post" action="" id="send_material_frm" enctype="multipart/form-data">
    <input type="hidden" name="email_body" value="<?= strip_tags($email_tpl['email_body']); ?>">
    <input type="hidden" name="email_to" value="<?= $email_tpl['email_to']; ?>">
    <input type="hidden" name="email_subject" value="<?= $email_tpl['email_subject']; ?>">
    <div class="send_main">
        <div class="send_header">
            <span class="send_title">Прислать материал</span>
            <?php if (!$current_user['User_ID']): ?>
                <span class="send_socials">
                    <span class="social-enter">Войти через соцсети:</span>
                    <span class="social-btn" id="fb-account">
                        <img src="/images/fb_btn.png" />
                    </span>
                    <span class="social-btn" onclick='nc_vk_login(<?= $nc_auth_vk->is_member(); ?>)'>
                        <img src="/images/vk_btn.png" />
                    </span>
                </span>
            <?php endif; ?>
        </div>
        <div id='fb-root'></div>
        <div>
            <input class="send_input" type="text" placeholder="Имя" name="sender_name" id="sender_name" value="<?= $current_user['ForumName'] ? $current_user['ForumName'] : ''; ?>">
            <input class="send_input" type="text" placeholder="E-mail (не будет опубликован)" name="sender_email" id="sender_email" value="<?= $current_user['Email'] ? $current_user['Email'] : ''; ?>">
        </div>
        <div>
            <textarea class="send_textarea" placeholder="Комментарий" name="sender_comment" id="sender_comment"></textarea>
        </div>
        <div class="send_input_file">
            <input type="file" class="custom_file" id="send_file" name="sender_file" >
            <div id="browse_button" title="Прикрепить файл" class="fake_button"></div>
            <div id="file_name" style='display: none; background: transparent url("/images/files_types_icons.png") repeat scroll 0% 0%;'></div>
        </div>
        <div>
            <input class="send_input_submit" type="submit" value="Отправить">
        </div>
    </div>
</form>